<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SistemPenjualanBarangTokoSwalayan.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SistemPenjualanBarangTokoSwalayan.My.MySettings.toko_swalayanConnectionString"
            connectionString="server=localhost;User Id=root;database=toko_swalayan"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SistemPenjualanBarangTokoSwalayan.My.MySettings>
            <setting name="sKoneksi" serializeAs="String">
                <value />
            </setting>
            <setting name="sNamaServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="sPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="sNamaDatabase" serializeAs="String">
                <value />
            </setting>
            <setting name="sKodePegawai" serializeAs="String">
                <value />
            </setting>
            <setting name="sNamaPegawai" serializeAs="String">
                <value />
            </setting>
            <setting name="sHakAkses" serializeAs="String">
                <value />
            </setting>
            <setting name="sUsernameServer" serializeAs="String">
                <value />
            </setting>
            <setting name="sPasswordServer" serializeAs="String">
                <value />
            </setting>
        </SistemPenjualanBarangTokoSwalayan.My.MySettings>
    </userSettings>
</configuration>